<div class="selects">
  <h3>Category</h3>
  <div class="selects__select">
    <div class="selects__checkbox">
      <p class="sds" routerLink="all">All</p>
      <ng-container *ngFor="let c of category">
          <p
            class="sds"
            (click)="selectcategory(c)"
            [ngClass]="c.clicked ? 'selectitem' : ''"
          >
            {{ c.name }}
          </p>
        </ng-container>
    </div>
  </div>

  <div class="promo">
    <p style="font-weight: 600">30% off sales</p>
    <p style="font-size: 0.8rem">This month all sales have a 30% off price</p>
  </div>
</div>

