@use "../../scss/index" as *;

.selects {
  padding: 1.5em;
  background-color: var(--header-color);
  border-radius: 0.5em;
  box-shadow: 0 1px 4px hsla(0, 4%, 15%, 0.1);

  h3 {
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
    color: var(--text-color);
  }

  &__checkbox {
    margin-bottom: 0.8em;
    p {
      font-size: var(--small-font-size);
      font-weight: 400;
      color: var(--text-color-light);
      margin-left: 5px;
      margin-bottom: 0.5em;
      cursor: pointer;

      // &:hover {
      //   color: hsl(248, 41%, 47%);
      //   font-weight: 600;
      // }
    }
  }

  &__select {
    margin-bottom: var(--mb-1);
  }
}

.selectitem {
  color: hsl(248, 41%, 47%) !important;
  font-weight: 600 !important;
}

.promo {
  background-color: hsl(248, 41%, 47%);
  color: #fff;
  padding: 1em;
  border-radius: 0.5em;
  margin-top: 2em;
}