@use "app/scss/index" as *;

.dialogpadding .mat-dialog-container {
  padding: 1.2em !important;
  background-color: var(--header-color);
  color: #222;
}

.viewpadding .mat-dialog-container {
  padding: 0 !important;
  background-color: var(--header-color);
  color: #222;
  position: relative;
}

.in-row {
  animation: changecolor linear 0.5s;
}

@keyframes changecolor {
  to {
    background: red;
  }
}

.activechart {
  animation: rotate linear 0.5s;
}

.bx-loader-alt {
  animation: rotate infinite 0.5s;
}

input[type="checkbox"] {
  position: relative;
  top: 2px;
  box-sizing: content-box;
  width: 14px;
  height: 14px;
  margin: 0 5px 0 0;
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #b7b7b7;
}

input[type="checkbox"]:before {
  content: "";
  display: block;
}
input[type="checkbox"]:checked {
  background-color: var(--first-color);
}

input[type="checkbox"]:checked:before {
  width: 4px;
  height: 9px;
  margin: 0px 4px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
}

.activebox {
  color: var(--first-color) !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
