<header class="header" id="header">
  <nav class="nav container" id="nav-bar">
    <a class="nav__brand"><i class="bx bxl-meta"></i> ecommence </a>

    <div class="nav__action">
      <i class="bx bx-home"  routerLink="shop"></i>
      <i class="bx bx-moon" *ngIf="theme == true" (click)="toggleTheme()"></i>
      <i class="bx bx-sun" *ngIf="theme == false" (click)="toggleTheme()"></i>

      <div class="nav__cart" (click)="opencart()">
        <i class="bx bx-cart"></i>
        <span *ngIf="count != 0">{{ count }}</span>
      </div>

    
      <button class="nav__btn" *ngIf="userslocal === undefined"  routerLink="login">Sign-in</button>
      <button class="nav__user"  *ngIf="userslocal !== undefined" mat-icon-button [matMenuTriggerFor]="beforeMenu"><i class='bx bxs-user-circle'></i></button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item>Settings</button>
        <button (click)="Logout()" mat-menu-item>Logout</button>
      </mat-menu>
    </div>
  </nav>
</header>