<section class="shopping container">
  <app-category></app-category>
  <div class="card__container">
    <div class="card__searchcontainer">
      <div class="card__inputbox">
        <!-- <input
          type="text"
          [(ngModel)]="search"
          placeholder="Search here ..."
          (keyup)="filterClass($event)"
        /> -->
        <input type="text" placeholder="search items...">
        <i class="bx bx-search-alt"></i>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</section>
