<div class="login">
  <form class="form">
    <h3>Welcome to <i class="bx bxl-meta"></i> Ecommence</h3>
    <div class="form__inputs">
      <label for="">Email address</label>
      <input type="text" placeholder="example: juandelacruz@gmail.com" />
      <label for="">Password</label>
      <input type="password" placeholder="Enter your password" />
      <button>Sign-in</button>
    </div>

    <p style="margin-top: 1.5em; font-size: var(--small-font-size)">
      Dont have a account? Register
      <a
        href=""
        style="
          font-size: var(--small-font-size);
          font-weight: 700;
          text-decoration: underline;
        "
        >here</a
      >
    </p>
  </form>
</div>
