* {
  margin: 0;
  padding: 0;
  // font-family: "helveticaNeue" sans-serif;
}
  
body {
  height: 100vh;
  overflow: hidden;
  background-color: var(--body-color);
  color: var(--text-color);
  font-family: "Avenir LT Std 45 Book", sans-serif;
}

.container {
  max-width: 90rem;
  width: 90%;
  margin-inline: auto;
}

button,
input {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1rem;
}
